@import 'tailwindcss';

@theme {
  --color-primary: #2e8b57;
  --color-secondary: #1560bd;
  --color-accent: #fff176;
  --color-black: #333334;
  --color-white: #f5fefd;
  --color-red: #b22222;

  --font-poppins: 'Poppins', sans-serif;
}

@font-face {
  font-family: Poppins;
  font-weight: 400;
  src: url(/fonts/Poppins-Regular.ttf);
}

/* Light at weight 300 */
@font-face {
  font-family: Poppins;
  font-weight: 300;
  src: url(/fonts/Poppins-Light.ttf);
}

/* SemiBold at weight 600 */
@font-face {
  font-family: Poppins;
  font-weight: 600;
  src: url(/fonts/Poppins-SemiBold.ttf);
}

/* Bold at weight 700 */
@font-face {
  font-family: Poppins;
  font-weight: 700;
  src: url(/fonts/Poppins-Bold.ttf);
}

/* animation */
.fade-in {
  -webkit-animation: fade-in 0.75s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 0.75s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* for custom scrollbar*/
.custom-scrollbar::-webkit-scrollbar {
  @apply w-1.5;
}

.custom-scrollbar::-webkit-scrollbar-track {
  @apply rounded-full bg-gray-100;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-primary rounded-full;
}
